@font-face {
    font-family: 'Fredoka-Bold';
    src: url('../font/Fredoka-Bold.ttf') format('truetype');
}

.shop-container{
    padding:30px;
}

.shop-title{
    text-align:center;
    margin-bottom:20px;
    font-family: 'Fredoka-Bold';
}

#filter{
    display:flex;
    justify-content:flex-end;
    margin-bottom:20px;
    font-family: 'Fredoka-Bold';
}

#filter select{
    padding:8px 12px;
    border-radius:10px;
    font-family: 'Fredoka-Bold';
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    padding:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
    aspect-ratio:1/1;
    object-fit:cover;
    border-radius:10px;
}

.card h3{
    margin-top:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-family:'Fredoka-Bold';
}

.card p{
    margin:10px 0;
    line-height:1.5;
    font-family: 'Freddoka-Bold';
}

.card button{
    width:100%;
    padding:10px;
    border:none;
    background:#ff4d6d;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
    transition:.3s;
    font-family:'Fredoka-Bold';
}

.card button:hover{
    background:#ff3057;
}

.harga {
    font-family: 'Fredoka-Bold';
}
.description {
    font-family: 'Fredoka-Bold';
}
.popup-header {
    font-family: 'Fredoka-Bold';
}

.product-info {
    font-family: 'Fredoka-Bold';
}

.form {
    font-family: 'Fredoka-Bold';
}

.qty {
    font-family: 'Fredoka-Bold';
}

.popup-footer {
    font-family: 'Fredoka-Bold';
}

.checkout-btn {
    font-family: 'Fredoka-Bold';
}

